body {
    background-image: url(header/background.png);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;

}

.searchform {
    display: flex;
    margin-left: -50px;
}

#searchfield {
    width: 300px;
    border: none;
    align-self: center;
    margin-left: 5px;

}

#searchfield:focus {
    background-color: lightpink;
}



.navigation {
    display: flex;
    align-self: center;
    margin-right: 35px;
}

.navigation a {

    padding-right: 20px;
    color: black;
    font-family: 'DM Sans', sans-serif;
    text-decoration: none;
}


.navigation a:hover {
    text-decoration: underline;
}

.navigation a:nth-child(odd) {
    color: rgb(82, 142, 163)
}

.main {
    display: flex;
    flex-flow: column wrap;
    min-width: 100%;
    max-height: 120vh;
    align-items: stretch;


}

.sidebar {
    display: flex;
    flex-flow: row wrap;
    height: 95vh;
    width: 10%;
}

.sidebar h2 {
    font-family: 'Questrial', sans-serif;
    font-weight: 900;
    font-size: 30px;
}

.sidebar a {
    padding-left: 1vh;
    color: black;
    text-decoration: none;
    font-family: 'Questrial', sans-serif;
    font-size: 15.71px;
}

.sidebar a::after {
    content: "\00A0	\2764";
    ;
    color: rgba(207, 136, 161, 0.5);
}

.sidebar a:hover {
    text-decoration: underline;
}

#help {
    align-self: flex-end;
}

#help img {
    width: 35px;
}

.articles {
    max-width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-height: 100vh;
    margin-left: 20vh;
    align-items: center;
}

.block1 {
    min-width: 0;
    min-height: 0;
    position: relative;
}

.block1 p {
    position: absolute;
    margin-top: -50px;
    margin-left: 5px;

    text-align: center;
    text-decoration: none;
    font-family: 'DM Sans', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: black;
}

.block1 img:hover {
    border: 3px solid #f26522;
}


.block2 {
    margin-left: -90px;
    position: relative;
}

.block2 img:hover {
    border: 3px solid #f26522;
}

#like1 {
    position: absolute;
    top: 10px;
    left: 460px;
}

#like2 {
    position: absolute;
    top: 10px;
    left: 200px;
}

.block3 {
    position: relative;
}

.block3 img:hover {
    border: 3px solid #f26522;
}

#like3 {
    position: absolute;
    top: 10px;
    left: 200px;
}

#like4 {
    position: absolute;
    top: 10px;
    left: 460px;
}

.block4 {
    position: relative;
    margin-left: -90px;
}

.block4 p {
    position: absolute;
    margin-top: -35px;
    margin-left: 5px;
    font-family: 'DM Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: black;
}


.block4 h3 {
    position: absolute;
    margin-top: -60px;
    margin-left: 5px;

}

#trending {
    font-family: 'DM Sans', sans-serif;
    font-size: 26px;
    color: #001AA2;
}

#new {
    font-family: 'DM Sans', sans-serif;
    font-size: 26px;
    color: #FD2E24
}

.block4 img:hover {
    border: 3px solid #f26522;
}

::selection {
    background: transparent;
    /* чтобы текст нельзя было выделить */
}